.team__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  text-align: center;
}

.team__details > img {
  height: 250px;
}
.team__details ul a {
  padding: 0 1rem;
}

@media screen and (max-width: 1024px) {
  .team__container {
    grid-template-columns: 1fr 1fr;
  }
  .team__details > img {
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .team__container {
    grid-template-columns: 1fr;
  }
  .team__details > img {
    height: 150px;
  }
}