.second__container {
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 20%;
}
.second__details {
  padding-top: 3rem;
}
.second__details h2 {
  text-transform: capitalize;
  color: var(--color-primary1);
}
.btn-second {
  padding: 15px !important;
  background: transparent !important;
  background: var(--color-primary1) !important;
  color: #fff !important;
  border: none !important;
  cursor: pointer !important;
}
.btn-second:hover {
  color: #fff !important;
  background: rgb(79, 18, 18) !important;
}
@media screen and (max-width: 1024px) {
  .second__container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .second__image {
    height: 230px;
  }
}
